USE [master]
GO
/****** Object:  Database [MOODFLIX]    Script Date: 25/5/2026 10:56:12 ******/
CREATE DATABASE [MOODFLIX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOODFLIX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MOODFLIX.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOODFLIX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MOODFLIX_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MOODFLIX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MOODFLIX]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[MODULO] [varchar](50) NOT NULL,
	[OPERACION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVH]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVH](
	[TABLA] [varchar](50) NOT NULL,
	[REGISTRO] [int] NOT NULL,
	[DV] [varchar](200) NOT NULL,
 CONSTRAINT [PK_DVH] PRIMARY KEY CLUSTERED 
(
	[TABLA] ASC,
	[REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[TABLA] [varchar](50) NOT NULL,
	[COLUMNA] [int] NOT NULL,
	[DV] [varchar](200) NOT NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[TABLA] ASC,
	[COLUMNA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMOCION]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMOCION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[URI_RELATIVO] [varchar](50) NULL,
 CONSTRAINT [PK_EMOCION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[AUTOR] [varchar](50) NOT NULL,
	[EDITORIAL] [varchar](50) NOT NULL,
	[ID_EMOCION] [int] NOT NULL,
	[URI_RELATIVO] [varchar](50) NULL,
	[PRECIO] [float] NULL,
 CONSTRAINT [PK_LIBRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PELICULA]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[GENERO] [varchar](50) NOT NULL,
	[DIRECTOR] [varchar](50) NOT NULL,
	[ID_EMOCION] [int] NOT NULL,
	[URI_RELATIVO] [varchar](50) NULL,
	[PRECIO] [float] NULL,
 CONSTRAINT [PK_PELICULA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IDROL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[TIPO] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLHIJO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLHIJO](
	[IDROLPADRE] [int] NOT NULL,
	[IDROLHIJO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDROLPADRE] ASC,
	[IDROLHIJO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](200) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOESTADO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOESTADO](
	[IDUSUARIO] [int] NOT NULL,
	[INTENTOS] [tinyint] NOT NULL,
	[BLOQUEADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOROL]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOROL](
	[IDUSUARIO] [int] NOT NULL,
	[IDROL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC,
	[IDROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIOESTADO] ADD  DEFAULT ((0)) FOR [INTENTOS]
GO
ALTER TABLE [dbo].[USUARIOESTADO] ADD  DEFAULT ((0)) FOR [BLOQUEADO]
GO
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_USUARIO]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_EMOCION] FOREIGN KEY([ID_EMOCION])
REFERENCES [dbo].[EMOCION] ([ID])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_EMOCION]
GO
ALTER TABLE [dbo].[PELICULA]  WITH CHECK ADD  CONSTRAINT [FK_PELICULA_EMOCION] FOREIGN KEY([ID_EMOCION])
REFERENCES [dbo].[EMOCION] ([ID])
GO
ALTER TABLE [dbo].[PELICULA] CHECK CONSTRAINT [FK_PELICULA_EMOCION]
GO
ALTER TABLE [dbo].[ROLHIJO]  WITH CHECK ADD FOREIGN KEY([IDROLHIJO])
REFERENCES [dbo].[ROL] ([IDROL])
GO
ALTER TABLE [dbo].[ROLHIJO]  WITH CHECK ADD FOREIGN KEY([IDROLPADRE])
REFERENCES [dbo].[ROL] ([IDROL])
GO
ALTER TABLE [dbo].[USUARIOESTADO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOESTADO_USUARIO] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIOESTADO] CHECK CONSTRAINT [FK_USUARIOESTADO_USUARIO]
GO
ALTER TABLE [dbo].[USUARIOROL]  WITH CHECK ADD FOREIGN KEY([IDROL])
REFERENCES [dbo].[ROL] ([IDROL])
GO
ALTER TABLE [dbo].[USUARIOROL]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_ROLHIJO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ACTUALIZAR_ROLHIJO]
    @IDROLPADRE INT,
    @IDROLHIJO INT
AS
BEGIN
    UPDATE ROLHIJO
    SET IDROLHIJO = @IDROLHIJO
    WHERE IDROLPADRE = @IDROLPADRE;
END;
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO_BLOQUEADO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_USUARIO_BLOQUEADO]
    @IDUSUARIO INT,
    @BLOQUEADO BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE USUARIOESTADO
    SET BLOQUEADO = @BLOQUEADO
    WHERE IDUSUARIO = @IDUSUARIO;
END;
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO_ESTADO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_USUARIO_ESTADO]
    @IDUSUARIO INT,
    @INTENTOS  TINYINT,
    @BLOQUEADO BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE USUARIOESTADO
    SET INTENTOS  = @INTENTOS,
        BLOQUEADO = @BLOQUEADO
    WHERE IDUSUARIO = @IDUSUARIO;
END;
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO_INTENTOS]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_USUARIO_INTENTOS]
    @IDUSUARIO INT,
    @INTENTOS  TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE USUARIOESTADO
    SET INTENTOS = @INTENTOS
    WHERE IDUSUARIO = @IDUSUARIO;
END;
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO_ROL]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_USUARIO_ROL]
    @IDUSUARIO INT,
    @IDROL INT
AS
BEGIN
    -- No existe PK simple, por lo que actualizamos por IDUSUARIO
    UPDATE USUARIOROL
    SET IDROL = @IDROL
    WHERE IDUSUARIO = @IDUSUARIO;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_DVH]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_DVH]
    @tabla NVARCHAR(50),
    @reg   INT
AS
BEGIN
    DELETE FROM DVH
    WHERE TABLA = @tabla
      AND REGISTRO = @reg;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_FAMILIA]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_FAMILIA]
    @IDROL INT
AS
BEGIN
    DELETE FROM ROL
    WHERE IdRol = @IDROL;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_HIJOS_DE_FAMILIA]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_HIJOS_DE_FAMILIA]
    @IDPADRE INT
AS
BEGIN
    DELETE FROM ROLHIJO
    WHERE IdRolPadre = @IDPADRE;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_LIBRO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_LIBRO]
    @ID INT
AS
BEGIN
    DELETE FROM LIBRO WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_PELICULA]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_PELICULA]
    @ID INT
AS
BEGIN
    DELETE FROM PELICULA WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_ROLH_PUNTUAL]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ELIMINAR_ROLH_PUNTUAL]
    @IDROLPADRE INT,
    @IDROLHIJO  INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM ROLHIJO
    WHERE IDROLPADRE = @IDROLPADRE
      AND IDROLHIJO  = @IDROLHIJO;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_ROLHIJO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_ROLHIJO]
    @IDROLPADRE INT
AS
BEGIN
    DELETE FROM ROLHIJO
    WHERE IDROLPADRE = @IDROLPADRE;
END;
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_TODOS_DVH]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ELIMINAR_TODOS_DVH]
as
begin

Delete from DVH;
end
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_TODOS_DVV]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ELIMINAR_TODOS_DVV]
as
begin
Delete from DVV;
end
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO_ROL]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_USUARIO_ROL]
    @IDUSUARIO INT,
    @IDROL INT
AS
BEGIN
    DELETE FROM USUARIOROL
    WHERE IDUSUARIO = @IDUSUARIO
      AND IDROL = @IDROL;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO_ROL_PUNTUAL]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ELIMINAR_USUARIO_ROL_PUNTUAL]
    @IDUSUARIO INT,
    @IDROL INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM USUARIOROL   -- ← NOMBRE CORRECTO DE LA TABLA
    WHERE IDUSUARIO = @IDUSUARIO
      AND IDROL      = @IDROL;
END;
GO
/****** Object:  StoredProcedure [dbo].[FILTRAR_BITACORA_AVANZADO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FILTRAR_BITACORA_AVANZADO]
(
    @FechaInicio DATETIME = NULL,
    @FechaFin    DATETIME = NULL,
    @Email       VARCHAR(200) = NULL,
    @Modulo      VARCHAR(200) = NULL
)
AS
BEGIN
    SELECT 
        B.ID,
        B.Fecha,
        U.Email AS EmailUsuario,
        B.Modulo,
        B.Operacion,
        B.ID_Usuario
    FROM Bitacora B
    INNER JOIN Usuario U ON B.ID_Usuario = U.ID
    WHERE
        (@FechaInicio IS NULL OR B.Fecha >= @FechaInicio)
        AND (@FechaFin IS NULL OR B.Fecha <= @FechaFin)
        AND (@Email IS NULL OR U.Email = @Email)
        AND (@Modulo IS NULL OR B.Modulo = @Modulo)
    ORDER BY B.Fecha ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[FILTRAR_BITACORA_FECHAS]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FILTRAR_BITACORA_FECHAS]
    @FechaInicio DATETIME,
    @FechaFin DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * 
    FROM Bitacora
    WHERE Fecha BETWEEN @FechaInicio AND @FechaFin;
END
GO
/****** Object:  StoredProcedure [dbo].[GENERAR_BACKUP]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GENERAR_BACKUP]
    @ruta VARCHAR(1000)
AS
BEGIN
    DECLARE @sqlCommand NVARCHAR(1000)
    SET @sqlCommand = 'BACKUP DATABASE [MOODFLIX] TO DISK = ''' + @ruta + ''' WITH NOFORMAT, INIT, NAME = ''MOODFLIX-Completa Base de datos Copia de seguridad'', SKIP, NOREWIND, NOUNLOAD, STATS = 10'
    BEGIN TRY
        EXEC(@sqlCommand)
        RETURN 1 -- Indicar éxito
    END TRY
    BEGIN CATCH
        RETURN -1 -- Indicar error
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_BITACORA]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INSERTAR_BITACORA] 
	@fecha datetime,
	@id_usuario int,
	@modulo varchar(50),
	@operacion varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	insert into BITACORA (FECHA, ID_USUARIO, MODULO, OPERACION) values (@fecha,@id_usuario,@modulo,@operacion);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_DVH]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_DVH]
    @tabla VARCHAR(50),
    @reg INT,
    @dv VARCHAR(200)
AS
BEGIN


    INSERT INTO DVH (TABLA, REGISTRO, DV)
    VALUES (@tabla, @reg, @dv);


END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_DVV]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_DVV]
    @tabla VARCHAR(50),
    @col INT,
    @dv VARCHAR(200)
AS
BEGIN
  

    INSERT INTO DVV (TABLA, COLUMNA, DV)
    VALUES (@tabla, @col, @dv);

  
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_LIBRO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_LIBRO]
    @Nombre VARCHAR(50),
    @Descripcion VARCHAR(MAX),
    @Fecha DATETIME,
    @Autor VARCHAR(50),
    @Editorial VARCHAR(50),
    @ID_Emocion INT,
    @Uri_Relativo VARCHAR(50),
    @Precio FLOAT
AS
BEGIN
    INSERT INTO LIBRO (NOMBRE, DESCRIPCION, FECHA, AUTOR, EDITORIAL, ID_EMOCION, URI_RELATIVO, PRECIO)
    VALUES (@Nombre, @Descripcion, @Fecha, @Autor, @Editorial, @ID_Emocion, @Uri_Relativo, @Precio)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PELICULA]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PELICULA]
    @Nombre VARCHAR(50),
    @Descripcion VARCHAR(MAX),
    @Fecha DATETIME,
    @Genero VARCHAR(50),
    @Director VARCHAR(50),
    @ID_Emocion INT,
    @Uri_Relativo VARCHAR(50),
    @Precio FLOAT
AS
BEGIN
    INSERT INTO PELICULA (NOMBRE, DESCRIPCION, FECHA, GENERO, DIRECTOR, ID_EMOCION, URI_RELATIVO, PRECIO)
    VALUES (@Nombre, @Descripcion, @Fecha, @Genero, @Director, @ID_Emocion, @Uri_Relativo, @Precio)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_ROL]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[INSERTAR_ROL]
    @NOMBRE   VARCHAR(50),
    @TIPO     VARCHAR(50),   -- 'PATENTE' o 'FAMILIA'
    @IDROL    INT OUTPUT     -- devuelve el ID generado
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ROL (NOMBRE, TIPO)
    VALUES (@NOMBRE, @TIPO);

    SET @IDROL = CAST(SCOPE_IDENTITY() AS INT);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_ROLHIJO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_ROLHIJO]
    @IDROLPADRE INT,
    @IDROLHIJO INT
AS
BEGIN
    INSERT INTO ROLHIJO (IDROLPADRE, IDROLHIJO)
    VALUES (@IDROLPADRE, @IDROLHIJO);
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIO]
    @user VARCHAR(50),
    @email VARCHAR(50),
    @pass VARCHAR(200)
AS
BEGIN
    -- Insert a new record into the USUARIO table
    INSERT INTO USUARIO (USERNAME, EMAIL, PASSWORD)
    VALUES (@user, @email, @pass);

    -- Return the ID of the newly inserted user
    SELECT SCOPE_IDENTITY() AS ID;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO_ESTADO]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIO_ESTADO]
    @IDUSUARIO INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO USUARIOESTADO (IDUSUARIO, INTENTOS, BLOQUEADO)
    VALUES (@IDUSUARIO, 0, 0);
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO_ROL]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIO_ROL]
    @IDUSUARIO INT,
    @IDROL INT
AS
BEGIN
    INSERT INTO USUARIOROL (IDUSUARIO, IDROL)
    VALUES (@IDUSUARIO, @IDROL);
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_BITACORA]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_BITACORA]
AS
BEGIN
    SELECT 
        B.ID,
        B.Fecha,
        U.Email AS EmailUsuario,
        B.Modulo,
        B.Operacion,
        B.ID_Usuario
    FROM Bitacora B
    INNER JOIN Usuario U ON B.ID_Usuario = U.ID
    ORDER BY B.Fecha ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_DVH]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_DVH]
as
begin
Select * from DVH;
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_DVV]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_DVV]
as
begin
Select * from DVV;
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_EMOCION]    Script Date: 25/5/2026 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_EMOCION]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	SELECT * FROM EMOCION;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_EMOCION_POR_ID]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_EMOCION_POR_ID]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID,
        NOMBRE,
        URI_RELATIVO
    FROM 
        EMOCION
    WHERE 
        ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_LIBRO]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_LIBRO]
as
begin 
Select * from LIBRO;
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PELICULA]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LISTAR_PELICULA]
as
begin

Select * from PELICULA;
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ROL]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ROL]
AS
BEGIN
    SELECT * FROM ROL;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ROLES_DE_USUARIO]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ROLES_DE_USUARIO]
    @IDUSUARIO INT
AS
SELECT R.IDROL, R.NOMBRE, R.TIPO
FROM USUARIOROL UR
JOIN ROL R ON UR.IDROL = R.IDROL
WHERE UR.IDUSUARIO = @IDUSUARIO
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ROLHIJO]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ROLHIJO]
AS
BEGIN
    SELECT IDROLPADRE, IDROLHIJO
    FROM ROLHIJO;
END;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_USUARIO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for procedure here
	SELECT * from USUARIO;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO_ESTADO]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_USUARIO_ESTADO]
AS
BEGIN
    SELECT IDUSUARIO, INTENTOS, BLOQUEADO
    FROM USUARIOESTADO
    ORDER BY IDUSUARIO ASC
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO_ROL]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_USUARIO_ROL]
AS
BEGIN
    SELECT *
    FROM USUARIOROL   -- NOMBRE CORRECTO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIOS_CON_ROL]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_USUARIOS_CON_ROL]
    @IDROL INT
AS
BEGIN
    SELECT *
    FROM USUARIOROL
    WHERE IdRol = @IDROL;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIOS_ESTADO]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_USUARIOS_ESTADO]
AS
BEGIN
    SELECT  
        ue.IDUSUARIO,
        u.USERNAME,
        u.EMAIL,
        ue.INTENTOS,
        ue.BLOQUEADO
    FROM USUARIOESTADO ue
    INNER JOIN USUARIO u ON ue.IDUSUARIO = u.ID
    ORDER BY ue.IDUSUARIO ASC
END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_DVH]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_DVH]
    @tabla VARCHAR(50),
    @reg INT,
    @dv VARCHAR(200)
AS
BEGIN


    UPDATE DVH
    SET DV = @dv
    WHERE TABLA = @tabla AND REGISTRO = @reg;

END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_DVV]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_DVV]
    @tabla VARCHAR(50),
    @col INT,
    @dv VARCHAR(200)
AS
BEGIN

    UPDATE DVV
    SET DV = @dv
    WHERE TABLA = @tabla AND COLUMNA = @col;

END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_LIBRO]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_LIBRO]
    @ID INT,
    @Nombre VARCHAR(50),
    @Descripcion VARCHAR(MAX),
    @Fecha DATETIME,
    @Autor VARCHAR(50),
    @Editorial VARCHAR(50),
    @ID_Emocion INT,
    @Uri_Relativo VARCHAR(50),
    @Precio FLOAT
AS
BEGIN
    UPDATE LIBRO
    SET NOMBRE = @Nombre,
        DESCRIPCION = @Descripcion,
        FECHA = @Fecha,
        AUTOR = @Autor,
        EDITORIAL = @Editorial,
        ID_EMOCION = @ID_Emocion,
        URI_RELATIVO = @Uri_Relativo,
        PRECIO = @Precio
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_PELICULA]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_PELICULA]
    @ID INT,
    @Nombre VARCHAR(50),
    @Descripcion VARCHAR(MAX),
    @Fecha DATETIME,
    @Genero VARCHAR(50),
    @Director VARCHAR(50),
    @ID_Emocion INT,
    @Uri_Relativo VARCHAR(50),
    @Precio FLOAT
AS
BEGIN
    UPDATE PELICULA
    SET NOMBRE = @Nombre,
        DESCRIPCION = @Descripcion,
        FECHA = @Fecha,
        GENERO = @Genero,
        DIRECTOR = @Director,
        ID_EMOCION = @ID_Emocion,
        URI_RELATIVO = @Uri_Relativo,
        PRECIO = @Precio
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_ROL]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_ROL]
(
    @ID INT
)
AS
BEGIN
    SELECT * FROM ROL WHERE IDROL = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_ROLH]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_ROLH]
    @IDROLPADRE INT
AS
BEGIN
    SELECT IDROLPADRE, IDROLHIJO
    FROM ROLHIJO
    WHERE IDROLPADRE = @IDROLPADRE;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_ROLS_HIJOS]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_ROLS_HIJOS]
    @IDROLPADRE INT
AS
SELECT IDROLHIJO
FROM ROLHIJO
WHERE IDROLPADRE = @IDROLPADRE
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_USUARIO_ESTADO]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_USUARIO_ESTADO]
    @IDUSUARIO INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IDUSUARIO, INTENTOS, BLOQUEADO
    FROM USUARIOESTADO
    WHERE IDUSUARIO = @IDUSUARIO;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_USUARIO_ROL]    Script Date: 25/5/2026 10:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_USUARIO_ROL]
    @IDUSUARIO INT
AS
BEGIN
    SELECT *
    FROM USUARIOROL      -- NOMBRE REAL DE LA TABLA
    WHERE IDUSUARIO = @IDUSUARIO;
END
GO
USE [master]
GO
